
.navbar{
background: #FF0099;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #030303, #fcf9fa);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #070707, #faf8f9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section{
    background: linear-gradient(to bottom, rgb(185, 184, 184) -100%, transparent), linear-gradient(0deg, #FCFCFC, transparent 40%), url("./imagens/download.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: .2rem ;
    padding-top: 2rem;
    height: 70vh;
}
section h3{
    color: #000;
}
section img{
    margin: 2rem 0;
}
.efeito{
    text-decoration: none;
    text-transform: none;
    color: #747373;
}
.efeito:hover{
    color:#5e5c5c;
}

footer{
    height: 10vh;
}

@media only screen and (max-width : 600px) {
	
	section{
        background: linear-gradient(to bottom, rgb(185, 184, 184) -100%, transparent), linear-gradient(0deg, #FCFCFC, transparent 40%), url("./imagens/download.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 60vh;
        font-weight: 800;
        margin-top: .2rem;
        padding-top: 2rem;
    }
    section img{
        width: 90%;
        margin: 3rem 0;
    }
	  }